<h1>Editing Expression</h1>

<%= render 'form' %>

<%= link_to 'Show', @expression, class: 'btn btn-default' %>
<%= link_to 'List', expressions_path, class: 'btn btn-default' %>
<%= link_to 'Destroy', @expression, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>